


*{
    margin:0;

    padding:0;
    box-sizing: border-box;
    border: none;

    outline: none;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:black;
}
.container{
    height:min-content ;
    width:400px;
    background-color:skyblue ;
    border-radius: 15px;
    padding:28px;

}
.search-box{
    width:100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box .input{
    width: 80%;
    text-transform: capitalize;
    font-size: 18px;
    color: blue;
    background-color: skyblue;
    padding:12px 16px;
    border-radius: 14px;
}
.search-box input::placeholder{
    color: blueviolet;
}

.search-box-button{
    width: 46px;
    height: 46px;
    
    border-radius: 50%;;
    cursor: pointer;
    font-size:20px;
}
.search-box-button:hover{
    background-color: pink;
    color:#fff
}   
.weather-body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-block:20px;

}

.weather-body img{
    width:60%;
}
.weather-box{
    margin-block:20px;
    text-align: center;
}
.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
   position: relative;
}
.weather-box .temperature sup{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 0;
}
.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
   
}
.weather-details{
    width:100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 30px;
}
.humidity, .wind{
    display:flex;
    align-items:center

}
.humidity{
    margin-left:20px;
}
.wind{
    margin-right:20px;
}
.weather-details i{
   font-size: 35px;
}
.weather-details .text{
    margin-left:10px;
    font-size: 16px;
}
.text span{
    font-size: 20px;
    font-weight: 7;
}